/* Styles for the card component */
.card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
}

/* Styles for the image inside the card */
.card img {
    width: 100%;
    
}

/* Styles for the heading inside the card */
.card h2 {
    margin-bottom: 0;
}

/* Styles for the paragraph inside the card */
.card p {
    font-weight: 300;
    font-size: 16px;
}



.snaped{
    background-color: lightgreen;
}
